body {
    display: flex;
    background-color: aqua;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin: 3% 0;
    align-self: flex-start;
    margin-left: 10%;
}

h2 {
    font-size: 1.5rem;
    margin: 2%;
}

label {
    font-size: 1.2rem;
    margin: 2%;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30%;
    background-color: rgb(84, 144, 197);
    padding: 5%;
}

p{
    font-size: 2rem;
}

button {
    width: 10%;
    margin: 1%;
}

.acertou{
    background-color: #2ed573;
}

.errou{
    background-color: #ff4757;
}

#home{
    align-self: flex-start;
    margin-left: 10%;
    width: 10%;
    height: 10%;
    border: none;
    font-size: 20px;
    color: #fff ;
    text-shadow: 2px 2px #000;
    background-color: #535c68;
}

#home:hover{
    cursor: pointer;
}