body {
    display: flex;
    background: linear-gradient(#222, #000);
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin: 3% 0;
    align-self: flex-start;
    margin-left: 10%;
    color: #FDA7DF;
}

h2 {
    font-size: 2rem;
    margin: 2%;
}

label {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    background-color: #ffb8b8;
}

p{
    font-size: 2rem;
}

button {
    margin: 3% 0 10% 3%;
    border: none;
    background-color: #3d3d3d;
    color: #FDA7DF;
    width: 30%;
    height: 30%;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 5px #7158e2;
}

input{
    margin: 1% 5%;
}

.acertou{
    background-color: #2ed573;
}

.errou{
    background-color: #ff4757;
}

#home{
    align-self: flex-start;
    margin-left: 10%;
    width: 10%;
    height: 10%;
    border: none;
    font-size: 20px;
    color: #fff ;
    text-shadow: 2px 2px #000;
    background-color: #535c68;
}

#home:hover{
    cursor: pointer;
}