<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/teste.css">
    <title>Lucky Study | Test</title>
</head>

<body>
    <button id="home">SAIR</button>
    <h1>Questão {{data["id"]}}</h1>
    <form method="get">
        <div>
            <h2>{{data["texto"]}}</h2>
            <div>
                <input class="alternativas" type="radio" id="alternativa_1" name="alternativa">
                <label for="alternativa_1">{{data["options"][0]['A']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_2" name="alternativa">
                <label for="alternativa_2">{{data["options"][1]['B']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_3" name="alternativa">
                <label for="alternativa_3">{{data["options"][2]['C']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_4" name="alternativa">
                <label for="alternativa_4">{{data["options"][3]['D']}}</label>
            </div>
        </div>
        <div>
            <button id="confirmar">Enviar</button>
            <button id="next" type="submit">Próxima</button>
        </div>

    </form>
    <p id="motivo"></p>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        const dados = {{ data | tojson }}
        let controle = false;
        let acertou = null
        let respostaCorreta = null;

        const buttonVerificar = document.querySelector("#confirmar");
        const buttonNext = document.querySelector("#next");

        const btn_home = document.querySelector("#home");

        btn_home.onclick = () => {
            window.location.href = "/"
        }

        for (let i = 0; i < dados["options"].length; i++) {
            if (dados["options"][i]["correct"]) {
                respostaCorreta = i
            }
        }

        buttonVerificar.onclick = (event) => {
            event.preventDefault()
            const alternativas = document.querySelectorAll(".alternativas");
            for (let i = 0; i < alternativas.length; i++) {
                if (alternativas[i].checked) {
                    if (controle) return;

                    if (i != respostaCorreta) {
                        document.querySelectorAll("label")[i].style = "background-color: #f00;"
                        acertou = false;
                    }
                    else {
                        acertou = true;
                    }



                    document.querySelectorAll("label")[respostaCorreta].style = "background-color: #0f0;"

                    document.querySelector("#motivo").textContent = dados["options"][i]["reason"]

                    controle = true
                }
            }
        }

        buttonNext.onclick = (event) => {
            event.preventDefault()
            if (acertou == null) return;

            $.post("", {
                info_data: acertou,
                id_question: dados["id"]
            })
                .done(() => {
                    document.querySelector("form").submit()
                })
        }
    </script>
</body>

</html>