<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/teste.css">
    <title>Lucky Study | Test</title>
</head>

<body>
    <button id="home">SAIR</button>
    <h1> Nível {{data["level"]}}</h1>
    <form method="get">
        <div>
            <h2>{{data["texto"]}}</h2>
            <div>
                <input class="alternativas" type="radio" id="alternativa_1" name="alternativa">
                <label for="alternativa_1">{{data["options"][0]['A']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_2" name="alternativa">
                <label for="alternativa_2">{{data["options"][1]['B']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_3" name="alternativa">
                <label for="alternativa_3">{{data["options"][2]['C']}}</label>
            </div>
            <div>
                <input class="alternativas" type="radio" id="alternativa_4" name="alternativa">
                <label for="alternativa_4">{{data["options"][3]['D']}}</label>
            </div>
        </div>
        <div>
            <button id="confirmar">Enviar</button>
            <button id="next" type="submit">Próxima</button>
        </div>
    </form>
    <p id="motivo"></p>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        let dados = {{ data | tojson }}

        let controle = false;
        let acertou = null
        let respostaCorreta = null;

        const buttonVerificar = document.querySelector("#confirmar");
        const buttonNext = document.querySelector("#next");
        const btn_home = document.querySelector("#home");

        const verificaRespostaCorreta = () => {
            for (let i = 0; i < dados["options"].length; i++) {
                if (dados["options"][i]["correct"]) {
                    respostaCorreta = i
                }
            }
        }

        const limparBackground = () => {
            document.querySelector("#motivo").textContent = " "
            for(const inputRadio of document.querySelectorAll("input")){
                if(inputRadio.checked){
                    inputRadio.checked = false;
                }
            }

            for(const titulo of document.querySelectorAll("label")){
                for(const classe of titulo.classList){
                    if(classe == "acertou"){
                        titulo.classList.remove("acertou")
                    }
                    else if(classe == "errou"){
                        titulo.classList.remove("errou")
                    }
                    else continue;
                }
            }
        }

        const desenharNovaQuestao = (questao) => {
            const textos = questao["options"]
            const allLabel = document.querySelectorAll("label")


            allLabel[0].textContent = textos[0]["A"]
            allLabel[1].textContent = textos[1]["B"]
            allLabel[2].textContent = textos[2]["C"]
            allLabel[3].textContent = textos[3]["D"]

            document.querySelector("h2").textContent = questao["texto"]
            document.querySelector("h1").textContent =  `Questão ${questao["id"]}`
            console.log(dados)
            dados = questao
            console.log(dados)
            acertou = null
            controle = false;

            verificaRespostaCorreta()
        }

        btn_home.onclick = () => {
            window.location.href = `/choose/${window.location.href.split("/")[4]}`
        }

        buttonVerificar.onclick = (event) => {
            event.preventDefault()

            const alternativas = document.querySelectorAll(".alternativas");
            
            if (controle) return;

            for (let i = 0; i < alternativas.length; i++) {
                if (alternativas[i].checked) {

                    if (i != respostaCorreta) {
                        document.querySelectorAll("label")[i].classList.add("errou")
                        acertou = false;
                    }
                    else {
                        acertou = true;
                    }

                    document.querySelectorAll("label")[respostaCorreta].classList.add("acertou")
                    document.querySelector("#motivo").textContent = dados["options"][i]["reason"]

                    controle = true
                }
            }
        }

        buttonNext.onclick = (event) => {
            event.preventDefault()
            if (acertou == null) return;

            $.post("", {
                info_data: acertou,
                id_question: dados["id"]
                //nivel_question: dados["nivel"]
            })
                .then((response) => {
                    if( response == "acabou"){
                        window.location.href = `/choose/${window.location.href.split("/")[4]}`
                    }
                    else{
                        limparBackground()
                        desenharNovaQuestao(response)
                    }
                })
        }

        verificaRespostaCorreta()
    </script>
</body>

</html>